// Specific CSS for your home-page
body { font-family: 'Roboto', sans-serif;
     background-color: #F4F4F4;
     text-decoration: none !important;

}

.map {
  text-align: center;
}

.list {
  text-align: center;
}

.card {
  text-align: center;
}

.container-home {
  width: 375px;
  margin: auto;
  padding: 0px;
  background-color: #272426;
  color: #fcfcfc;
}

.banner img {
  width: 100%;
  margin-top: -10%;
}

.card-home {
  width: 75%;
  margin: 40px auto;
}

.card-home p {
  margin-top: 20px;
  line-height: 20px;
  opacity: 0.7;
  color: #E3E3E3;
}

.card-home h2 {
  font-family: 'Roboto', sans-serif;
  line-height: 35px;
  color: #E6E6E4;
  font-size: 28px;
}

.footer-element img {
  width: 60%;
  position: sticky;
  left: 150px;
}



/* overwriting bootstrap from defaults */



.form-group {
  width: 100%;
  font-size: 13px;
  padding-left: 18px;
  margin-bottom: 0px;
}

.home-searchform {
  margin-top: -100px;
  position: relative;
  padding: 0px 2%;

  .form-inline {
    font-size: 12px;
    font-color: white;
    padding: 15px;
    padding-left: 20px;
    height: 50px;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 11px;
    border-radius: 9px;
    background-color: #f1f1f1;
    border: none;

      &:focus {
        outline: none;
        }
    }
}

.form-control {
  margin-top: 0px;
  margin-bottom: 11px;
  border-radius: 10px;
  border-style: none;
  height: 50px;
  background-color: #DBDBDB;
  padding: 10px;
}

#homepage-btn {
  width: 100%;
  display: flex;
}

.button-filled-search {
  padding: 16px 9px 16px 9px;
  color: #23262B;
  font-weight: bold;
  background-color: #F6D365;
  font-size: 12px;
  border-radius: 7px;
  width: 32%;
  text-align: center;
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 20px;
  border-style: solid;
  border-color: #F6D365;
}

.button-filled-add {
  padding: 16px 9px 16px 9px;
  color: #23262B;
  font-weight: bold;
  background-color: #F6D365;
  font-size: 12px;
  border-radius: 7px;
  width: 41%;
  text-align: center;
  margin-left: 13%;
  margin-bottom: 50px;
}

.button-filled-stories {
  padding: 16px 9px 16px 9px;
  color: #23262B;
  font-weight: bold;
  background-color: #F6D365;
  font-size: 12px;
  border-radius: 7px;
  width: 33%;
  text-align: center;
  margin-left: 13%;
  margin-bottom: 50px;
}

.button-filled-list-all {
  padding: 16px 9px 16px 9px;
  font-weight: bold;
  border-style: solid;
  border-color: #F6D365;
  font-size: 12px;
  border-radius: 7px;
  width: 30%;
  text-align: center;
  margin-left: 3%;
  color: white;
  background-color: transparent;
}
