// Import page-specific CSS files here.
@import "home";
@import "show";
@import "new";
@import "reservations_index";

.container {
  width: 375px;
  margin: auto;
  padding: 0px;
  background-color: #E3E5E3;
  color: #fcfcfc;
  height: 100%;
  position: relative;
  height: 100vh;
}

li {
  list-style-type: none;
}

.header-decoration img {
  width: 100%;
  position: absolute;
  z-index: 0;
  top: 0%;
}

.button-filled {
  padding: 14px 8px 14px 8px;
  color: #23262B;
  font-weight: bold;
  background-color: #F6D365;
  font-size: 12px;
  border-radius: 7px;
  width: 37%;
  text-align: center;
}

.button-filled:focus {
  outline: none;
}

.button-filled.toggle {
  border-style: none;
  position: inherit;
  z-index: 99;
  top: 150px;
  left: 7%;
}

.home-searchform-filter {
  margin-top: 28%;
  right: 7%;
  position: absolute;

  select {
    font-size: 12px;
    font-color: white;
    padding: 15px 15px 15px 20px;
    height: 46px;
    width: 175px;
    margin-bottom: 13px;
    border-radius: 9px;
    background-color: #f1f1f1;
    border: none;

      &:focus {
        outline: none;
        }
    }
}

/* Mapbox position */

#map {
  text-align: center;
  display: flex;
  align-items: center;
  margin: auto;
}

.mapboxgl-map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    }

.mapboxgl-canvas {
  height: 100% !important;
}

.marker {
  background-image: url('../assets/images/mapmarker.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.card {
  text-align: center;
  background-color: #E5E5E4;
}

.toggle-hidden {
  display: none !important;
  border-style: none;
}

/* Flex Cards */

.list {
  display: flex;
  flex-direction: column;
  padding: 25px;
  padding-top: 43%;
  padding-bottom: 30px;
  z-index: 98;
}

.list-item {
  width: 100%;
  height: 55px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-bottom: 12px;
  transition:.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  background-color: #f7f7f7;
  box-shadow: 0px 10px 15px rgba(39, 39, 39, 0.1);
  z-index: 0;

  span {
    color: #313131;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    max-width: 80%;
  }

  .list-item-trigger {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 16px;
    padding-left: 25px;
  }

  .list-item-pic {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 100;
  }

  .list-item-link {
    position: absolute;
    display: none;
    justify-content: space-between;
    bottom: 0px;
    padding: 16px;
    width: 100%;
    left: 0px;
    z-index: 100;
  }
}

.reservations-list {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.list-card {
  width: 100%;
  height: 200px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
  transition: 0.3s ease-in-out;
  background-color: #E5E5E4;
}

.list-item.expanded {
  height: 245px;

  .list-item-trigger {
    display: none;
  }

  .list-item-link {
    display: flex;
    span {
      color: #FFFFFF;
      font-size: 20px;
      padding-right: 40px;
    }
  }

  .list-item-pic {
    display: block;
  }

  .icon {
    background-color: #F6D365;
    width: 50px;
    border-radius: 50%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fas.fa-plus {
    color: #222222;
    font-size: 21px;
  }
}

#index-footer-decoration img {
    width: 50%;
    position: absolute;
    z-index: 0;
    right: 0%;
    bottom: 0%
}



.res-container {
  height: auto;

}

.res-image {
  margin: auto 15px;
}

#res-banner {
  width: 100%;
  height: 300px;
  border-radius: 15px;
  margin-top: 25%;
  margin-bottom: 15px;
  object-fit: cover;
  box-shadow: 4px 7px 8px rgba(196, 196, 196, 0.7);
  position: relative;
  z-index: 40;
}

#show-decoration-left {
  width: 23%;
  position: absolute;
  top: 40%;
}

.res-details {
  margin: auto 15px;
  border-radius: 15px;
  width: 92%;
  box-shadow: 4px 7px 8px rgba(196, 196, 196, 0.3);
  background-color: #FAFAFA;

  #res-info-name {
    display: flex;
    justify-content: space-between;
    margin-left: 8%;
    padding-top: 35px;

     h1 {
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      font-size: 26px;
      color: #000000;
      margin-bottom: 30px;
      padding-right: 20px;
      z-index: 41;
      }

    h3 {
      color: #000000;
      font-weight: bold;
      font-size: 10px;
    }
  }

  #res-info-description {
    margin-left: 8%;
    padding-right: 10%;
      p {
      line-height: 18px;
      color: #494D54;
      margin-bottom: 43px;
      font-size: 14px;
    }
  }

  #show-buttons {
    margin-left: 8%;

    .black {
      background-color: #222222 !important;
      color: #F4F4F4;
      border: none;
      font-size: 10px;
    }

    .outline {
      background-color: #FAFAFA;
      border-color: #222222;
      width: 42% !important;
      font-size: 10px;
      padding: 13px 9px 13px 9px !important;
      margin-left: 11px;
      margin-bottom: 120px;
    }
  }
}

#show-decoration-footer {
  right: 0%;
  width: 40%;
  position: absolute;
  z-index: 40;
  bottom: 0px;
}
