
.container.new {
  height: 100vh;
  background-color: #E5E5E5 !important;
}

.new h2 {
  font-family: 'Roboto', sans-serif;
  line-height: 30px;
  color: #222222;
  font-size: 25px;
  font-weight: bold;
  padding-top: 140px;
  margin-left: 12%;
}

/* overwriting bootstrap from defaults */

.new-searchform {
  padding-top: 30px;
  width: 95%;
}

.form-group {
  width: 80%;
  font-size: 13px;
  margin-bottom: 0px;
  padding-left: 0px;
  box-shadow: 2px 7px 15px rgba(39, 39, 39, 0.1);
  margin-left: 12%;
  border-radius: 10px;
  z-index: 50;
  position: relative;

    .string {
      font-size: 12px;
      color: #969696;
      padding-left: 16px;
    }

    .text {
      font-size: 12px;
      padding-left: 16px;
      padding-top: 25px;
    }

    input {
      background-color: #ececec;
      box-shadow: 2px 7px 15px rgba(39, 39, 39, 0.1);
      padding: 15px;
      border-radius: 10px;
    }

    input, button, select, optgroup, textarea {
      color: #969696;
      font-size: 12px;
    }
}

.form-control {
  margin-top: 0px;
  margin-bottom: 11px;
  border-radius: 10px;
  border-style: none;
  height: 50px;
  background-color: #ececec;
  padding: 10px;
}

.form-control:focus {
  border-color: none;
  box-shadow: none;
  background-color: #fdfcfc;
}

.button-filled.create {
  margin-left: 12%;
  margin-top: 15px;
  width: 45%;
  margin-bottom: 0px;
  z-index: 60;
  position: relative;
}

/* photo upload */

.upload-wrapper {
  display: flex;
  position: relative;
  width: 95%;
  z-index: 105;

  .action {
    display: flex;
    position: relative;
  }

  .form-group label {
    display: block;
  }

  .preview {
    position: relative;
  }

  .preview-wrapper {
    position: relative;
    width: 60px;
    height: 60px;
    background: transparent;

    .preview-cover {
      position: relative;
      width: 170px;
      height: 60px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-color: #ececec;
      border-radius: 10px;
      height: 50px;
      margin-left: 20%;
      box-shadow: 2px 7px 15px rgba(39, 39, 39, 0.1);
    }
  }

  .upload-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    top: 0;
    margin-left: 13%;
    height: 60px;
    background-color: #ececec;
    box-shadow: 2px 7px 15px rgba(39, 39, 39, 0.1);
    border-radius: 10px;
    height: 50px;

      i {
        color: #969696;
        font-size: 30px;
      }
  }

  .upload-button.hovered {
    background-color: green;
  }

  p.help-block {
    position: absolute;
    bottom: -50px;
    left: 0;
    margin: 0;
  }

  input[type=file] {
    position: absolute;
    width: 220px;
    height: 60px;
    top: 0;
    left: 60px;
    opacity: 0;
    z-index: 1;

    &:hover {
      cursor: pointer;
    }
  }
}

.validate {
  font-size:13px;
  color: white;
  background: var(--green);

  &:before {
    opacity: 0;
    transform: translate(0,0);
  }

  &:after {
    content:"loading..." !important;
  }
}

/* decoration elements */

#new-header-decoration img {
  width: 50%;
  position: absolute;
  z-index: 0;
  top: 0%;
}

#new-footer-decoration img {
  width: 100%;
  position: absolute;
  z-index: 0;
  bottom: 0%;
}

