// Import page-specific CSS files here.
@import "home";

 .form-group {
	color: white;
}

.header h3 {
  color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;

}
li {
  list-style-type: none;
}

.map {
  text-align: center;
  display: flex;
  align-items: center;
  margin: auto;
}

.list {
  text-align: center;
  color: white;
}

.card {
  text-align: center;
  background-color: #272426;
}

.form_group {
  color: white;
  text-align: center;
  background-color: #272426;
}

#donation-form {
	color: white;
}
body ul {
  padding: 0px;
  color: white;
}

.home-searchform {
  width: 95%;
}

.form-group {
  width: 100%;
  font-size: 13px;
  padding-left: 18px;
  margin-bottom: 0px;
}

.form-control {
  margin-top: 0px;
  margin-bottom: 11px;
  border-radius: 10px;
  border-style: none;
  height: 50px;
  background-color: #EDEFF2;
  padding: 10px;
}

.form-control:focus {
  border-color: none;
  box-shadow: none;
}

#homepage-btn {
  width: 100%;
  display: flex;
}

.button-filled-search {
  padding: 16px 9px 16px 9px;
  color: #23262B;
  font-weight: bold;
  background-color: #F6D365;
  font-size: 12px;
  border-radius: 7px;
  width: 33%;
  text-align: center;
  margin-left: 5%;
  margin-bottom: 10px;
}

.button-filled-add {
  padding: 16px 9px 16px 9px;
  color: #23262B;
  font-weight: bold;
  background-color: #F6D365;
  font-size: 12px;
  border-radius: 7px;
  width: 41%;
  text-align: center;
  margin-left: 13%;
  margin-bottom: 50px;
}

.button-filled-stories {
  padding: 16px 9px 16px 9px;
  color: #23262B;
  font-weight: bold;
  background-color: #F6D365;
  font-size: 12px;
  border-radius: 7px;
  width: 33%;
  text-align: center;
  margin-left: 13%;
  margin-bottom: 100px;
}

