
<div class="container-nav <%= 'white-navbar' if @white_navbar.present?%>">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <%= link_to root_path, class: 'navbar-brand' do %>
      <h1>Our Hub.</h1>
        <% end %>
      <!-- markup for the hamburger menu. Hamburger buns and stuffing (:^) are created with span elements  -->
      <div class="navbar-header">
        <div class="toggle-button" id="toggle">
          <span class="bar top"></span>
          <span class="bar bottom"></span>
        </div>
      </div>
    <!-- markup for the overlay -->
    <nav class="overlay" id="overlay">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Your Profile</a></li>
        <li><a href="#">Stories</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Log Out</a></li>
      </ul>
    </nav>
  </div>
</div>
