<div class="container">
  <div class="card-home"></div>
    <h3>Welcome to Our Hub.</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde consequatur voluptatibus in accusantium debitis, natus, corrupti molestiae officia quos animi, quod consectetur, corporis ipsam officiis sit magnam veritatis dolor impedit!
    </p>
  </div>
  <div class="home-searchform">
  	<form action="/donations" method="GET">
      <input type="text" class="form-control" name="query" placeholder="District" id="location-input">
      <br>
      <input type="text" class="form-control" name="query" placeholder="Radius" id="location-input">
      <br>
      <button type="submit" class="btn btn-primary" id="submit-button">Search</button>
      <button name="reset" type="reset" class="btn btn-primary" id="submit-button">Reset</button>
    </form>
  </div>
</div>
