<div class="container">
  <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div class="list">
	<h1>These are the resources!</h1>
	<ul>
	  <% @donations.each do |donation|%>
      <li><%= link_to donation.name, donation_path(donation)%></li>
	  <%end%>
  </ul>
  <%= link_to "Make a Donation", new_donation_path %>
	</div>
</div>
