<div class="container">
	<h4>Reserve the donation</h4>
  <%= simple_form_for @donation do |f| %>
    <div class= "form-group">
      <%= @donation.name %>
      <%= @donation.address %>
      <%= f.submit "Send request", class: "button-filled" %>
    </div>
  <% end %>
</div>